@page "/"
@using OlaIs.Data.Services;
@using OlaIs.Models;

@attribute [StreamRendering]
@inject IceCreamService IceCreamService

<PageTitle>Home</PageTitle>

<h1>Velkomin í ÓlaÍs! Heitt eða kalt úti, þú færð alltaf eina kalda kúlu hjá okkur! </h1>

Þetta er Einkaverkefni hjá mér til þess að æfa mig í Blazor, C#, Gagnagrunnum og fleiru.
Verður hægt að panta ís, skoða vinsælustu ísana, hráefnin í bragðarefi og fleira.
Takk fyrir mig.
