@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <!-- <div class="sidebar"> 
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <main>
        <div class="top-row px-4">
            <div class="left">
                <a href="" target="_self" class="display-6">ÓlaÍs 🍧</a>
                <a href="order" target="_self" class="@(isActive("/order") ? "active" : "")">Panta</a>
                <a href="stats" target="_self" class="@(isActive("/stats") ? "active" : "")">Tölfræðin</a>
            </div>
            <div class="right">
                <a href="Account/Manage" target="_self" class="@(isActive("/Account/Manage") ? "active" : "")">User</a>
                <a href="about" target="_self" class="@(isActive("/about") ? "active" : "")">Um okkur</a>
            </div>
        </div>
        <div class="content px-4 bg-pink">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isActive(string href)
    {
        return NavigationManager.Uri.EndsWith(href);
    }
}
